.about {
	// height: calc(var(--vh, 1vh) * 100);
	height: 100vh;
	// background-color: #121711;
	// background: linear-gradient(#090c09, #9198e5);
	background: hsl(110, 15%, 8%);
	// background: teal;
	border-top: 1px solid rgba(255, 255, 255, 0.507);
}
