@import './sass/main';
// :root {
// 	--vh: 100vh;
// }
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	// height: calc(var(--vh, 1vh) * 100);
	min-height: 100%;
	background-color: $black;
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}
}
body {
	// height: calc(var(--vh, 1vh) * 100);
	min-height: 100%;
	width: 100%;
	// overflow-y: scroll;
	font-family: $font-main;
	color: $white;
	opacity: 0;
	// padding-top: 2rem;
}

main.container {
	width: 100%;
	// height: 100%;
	height: calc(var(--vh, 1vh) * 100);
	// background: url('./img/darkmountains-mobile.png') no-repeat center center /
	// 	cover;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

section {
	.sectionHeader {
		font-family: $font-main;
		font-weight: lighter;
		font-size: 2.3rem;
		padding-top: 2rem;
		&__number {
			font-family: $font-menu;
			font-size: 1.3rem;
			color: $main-yellow-1;
		}
	}
}

// MOBILE scroll to top arrow button
.scrollToTop {
	position: absolute;
	right: 4rem;
	bottom: 4rem;
	width: 2.5rem;
	height: 2.5rem;
	background: none;
	border: none;
	// display: none;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	i {
		transition: all 0.1s ease-in-out;
		// color: red;
		font-size: 2.5rem;
		color: $main-yellow-1;
		opacity: 0.6;
		position: absolute;
		// display: none;
	}

	&:active {
		i {
			opacity: 0.9;
		}
	}
}

@media screen and (min-width: 768px) {
	main.container {
		background: url('./img/darkmountains.jpg') no-repeat center center / cover;
	}
}
